.aluno-container {
  width: 100%;
  max-width: 1200px;
  padding: 5px 10px;
  margin: 30px auto;
}

.aluno-container header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

.aluno-container header img {
  height: 50px;
  margin-right: 16px;
}

.aluno-container header button {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #dcdce6;
  background: green;
  transition: border-color 0.5s;
}

.aluno-container header button:hover {
  border-color: #510bac;
}

table {
  width: 100%;  
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid black;
  padding: 12px;
  text-align: left;
}

td button {
  margin-right: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
